<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>A17 (Pflicht) - DesktopApp
    Erstellen Sie eine Desktop Applikation &quot;CSV-Editor&quot;.
    Per Drag&amp;Drop kann man auf ein Applikationsfenster eine CSV-Datei (siehe Anhang) ziehen. Es wird eine sortierbare Daten-Tabelle erzeugt (Beispiel: <a href="https://datatables.net/examples/styling/bootstrap4">https://datatables.net/examples/styling/bootstrap4</a>)</p>
<p>Einzelne Zeilen können entfernt werden und neue Zeilen eingefügt werden.</p>
<p>Die geänderten und sortierten Daten können wieder gespeichert werden.</p>
<p>Zusatzaufgabe:</p>
<p>Jede Zelle ist editierbar.</p>
</body>
</html>