<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Index</title>
</head>
<body>
<!-- Top Application -->
<div id="topNav">
    <div id="reloadApp">R</div>
    <div id="appName">CSV READER</div>
    <div id="closeApp">X</div>
</div>
<!-- End top Application -->
<div class="container-fluid">
    <h1>Drop your documents wherever you want in the application</h1>
    <div id="file-infos">
        <div id="file-name"></div>
        <div id="file-path"></div>
        <div id="file-size"></div>
        <div id="file-column"></div>
        <div id="file-row"></div>

    </div>
    <div id="table" class="table-responsive"></div>
</div>
<script src="js/script.js"></script>

</body>
</html>